<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login Page</title>
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #f0f2f5;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }
      h1 {
        text-align: center;
      }
      form {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 400px;
        padding: 40px;
      }

      input[type="text"],
      input[type="password"] {
        width: 100%;
        padding: 10px;
        margin: 10px 0 20px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 16px;
      }

      button {
        background-color: #4caf50;
        color: #fff;
        padding: 10px;
        border: none;
        width: 100%;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      button:hover {
        background-color: #45a049;
      }

      h1 {
        text-align: center;
        color: #333;
        font-size: 24px;
        margin-bottom: 30px;
      }

      .container {
        padding: 0 20px;
      }

      label {
        font-size: 14px;
        color: #555;
        display: block;
        margin-bottom: 8px;
      }
    </style>
  </head>
  <body>
    <form action="/login" method="POST">
      <h1>Login Form</h1>
      <div class="container">
        <label for="loginId">Email or Username : </label>
        <input
          type="text"
          placeholder="Enter Email or Username"
          name="loginId"
          required
        />
        <label for="password">Password : </label>
        <input
          type="password"
          placeholder="Enter Password"
          name="password"
          required
        />
        <button type="submit">Login</button>
      </div>
    </form>
  </body>
</html>
